/* enlarging font size */
.bigger-font {
  font-size: 20px;
}

h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 50px;
  padding: 0;
  background-color: #95e5f9;
  height: 35px;
  display: flex;
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
}

li a {
  color: #000;
  width: 60px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #1f47cb;
  color: white;
}

li .active {
  background-color: #2471ff;
  color: white;
}

.bold-text {
  font-weight: bold;
}

#content {
  text-align: center;
}

.fact-container {
  margin: 10px 0;
}

.left-aligned {
  text-align: left;
}
.container {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  background-color: #9be0f0;
  border-radius: 10px;
}

.space-underneath {
  height: 40px; /* Adjust the desired height for the space */
}

.fact-container {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  background-color: #9be0f0;
  border-radius: 10px;
}

/*art */

.image1-container {
  width: 400px; /* Adjust the desired width for the container */
  height: 550px; /* Adjust the desired height for the container */
  margin: 10px auto;
  border: 5px solid #aca6ff;
  border-radius: 10px;
}

.image1-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.image2-container {
  width: 400px; /* Adjust the desired width for the container */
  height: 550px; /* Adjust the desired height for the container */
  margin: 10px auto;
  border: 5px solid #aca6ff;
  border-radius: 10px;
}

.image2-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.image3-container {
  width: 400px; /* Adjust the desired width for the container */
  height: 550px; /* Adjust the desired height for the container */
  margin: 10px auto;
  border: 5px solid #aca6ff;
  border-radius: 10px;
}

.image3-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.image4-container {
  width: 400px; /* Adjust the desired width for the container */
  height: 450px; /* Adjust the desired height for the container */
  margin: 10px auto;
  border: 5px solid #aca6ff;
  border-radius: 10px;
}

.image4-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/*toronto*/

.image-grid img {
  width: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.grid-container {
  margin: 50px;
}

/*resume*/
.message-box {
  margin: 20px;
}

textarea {
  width: 100%;
  resize: vertical;
}

button {
  padding: 10px 20px;
}

@media screen and (max-width: 900px) {
  #grid-id {
    grid-template-columns: 1fr;
  }

  .grid-item:nth-child(even) {
    border: 3px solid #ccc;
    border-top: 0;
  }

  .grid-item:nth-child(odd) {
    border: 3px solid #ccc;
    border-bottom: 0;
  }
}
