/* enlarging font size */
.bigger-font {
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  height: 35px;
  display: flex;
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
}

li a {
  color: #000;
  width: 60px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

li .active {
  background-color: #04AA6D;
  color: white;
}

.bold-text {
  font-weight: bold;
}

#content {
  text-align: center;
}

.fact-container {
  margin: 10px 0;
}

.left-aligned {
  text-align: left;
}
.container {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  background-color: #9be0f0;
  border-radius: 10px;
}

.space-underneath {
  height: 30px; /* Adjust the desired height for the space */
}

.fact-container {
  width: 400px;
  margin: 10px auto;
  padding: 10px;
  background-color: #9be0f0;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
}
.flex-container > .column {
  width: 50%;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexbox-item {
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}

.image-container {
  width: 100%;
  padding: 10px;
}

.image-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*art */

.image1-container {
  width: 400px; /* Adjust the desired width for the container */
  height: 550px; /* Adjust the desired height for the container */
  margin: 10px auto;
  border: 5px solid #aca6ff;
  border-radius: 10px;
}

.image1-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.image2-container {
  width: 400px; /* Adjust the desired width for the container */
  height: 550px; /* Adjust the desired height for the container */
  margin: 10px auto;
  border: 5px solid #aca6ff;
  border-radius: 10px;
}

.image2-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.image3-container {
  width: 400px; /* Adjust the desired width for the container */
  height: 550px; /* Adjust the desired height for the container */
  margin: 10px auto;
  border: 5px solid #aca6ff;
  border-radius: 10px;
}

.image3-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.image4-container {
  width: 400px; /* Adjust the desired width for the container */
  height: 450px; /* Adjust the desired height for the container */
  margin: 10px auto;
  border: 5px solid #aca6ff;
  border-radius: 10px;
}

.image4-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

